#children-list {
  .child {
    h3 {
      color: #3b88b6;
      border-bottom: solid 1px #ededed;
      margin: 0px -50px 40px -50px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;

      .note {
        float: right;
        font-size: 0.6em;
        color: #888888;
        font-weight: normal;
        margin-top: 15px;
      }
    }

    &.empty {
      .intro {
        margin: 0 auto;
        margin-top: 35px;
        margin-left: 172px;
      }

      &.male {
        background: url(/assets/stock/baby2.jpg) white no-repeat 0% 100%;
      }

      &.female {
        background: url(/assets/stock/girl1.jpg) white no-repeat 0% 100%;
      }

      .toy-list {
        opacity: 0;
      }
    }
  }

  p {
    span.highlight {
      color: #3b88b6;
      font-weight: bold;
    }
  }

  .toy-list {
    margin-top: 40px;
    border-radius: 5px;

    >.list-group .list-group-item {
      padding: 13px 15px;

      &:first-child {
        border-top: 0px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
    }

    li {
      .status {
        float: right;
        font-size: 13px;
        font-weight: 500;

        .analyzing { color: #0F9B0F; }

        .pending {
          color: #D88C1B;
        }

        .glyphicon-ok, .glyphicon-zoom-in { color: #0F9B0F; }

        .note {
          color: #555555;
          font-size: 11px;
        }
      }
    }
  }
}
