/*
 *= require children-list
 */

.modal {
  .info {
    h4 {
      color: #3b88b6;
    }

    p {
      color: #999999;
    }
  }
}

.form#new-child {
  span.fa.fa-mars, span.fa.fa-venus {
    font-size: 20px;
  }

  .female {
    color: #f786af;
  }

  .male {
    color: #5090ff;
  }

  label.female, label.male {
    margin-right: 20px;
  }
}
