section#how-it-works {
  background-image: image-url("triangle/coming-soon-bg.png");
  background-position: center top;
  background-repeat: repeat-x;
  margin-top: 60px;

  h1.title {
    font-weight: bold;
    color: #FFA22C;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
  }

  h2.subtitle {
    margin-bottom: 50px;
    line-height: 1.25em;
  }

  h2.cta {
    font-weight: bold;
  }

  h2 {
    &.note, .note {
      font-size: 20px;
      line-height: 1.5em;
    }
  }

  span.input-icon {
    font-size: 24px;
    color: #A0A0A0;
    position: relative;
    left: 30px;
  }

  input[type="text"], input[type="email"] {
    margin-top: 20px;
    font-size: 32px;
    border: 0px;
    border-bottom: solid #4fcccd 2px;
    background-color: #fafafa;
    outline: 0px;
    padding: 5px;
    text-align: center;
    line-height: 1.5em;
    width: 500px;

    &.icon { padding: 5px 40px; }
  }

  #page-container {
    min-height: 300px;
    margin-bottom: 50px;
  }

  .full-hero { background: none; }

  .stats {
    h1 {
      color: #FFBA16;
      font-weight: bold;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      color: #999999;
    }
  }

  a.btn-register {
    margin-top: 20px;
  }
}

