section#how-it-works {
  background-image: image-url("triangle/coming-soon-bg.png");
  background-position: center 90px;
  background-repeat: repeat-x;

  h1.title {
    text-shadow: none;
    color: #404040;
    font-weight: 300;
    font-size: 4em;
  }

  h2.subtitle {
    margin-bottom: 50px;
    line-height: 1.25em;
  }

  h2.cta {
    font-weight: bold;
  }

  h2 {
    &.note, .note {
      font-size: 20px;
      line-height: 1.5em;
    }
  }

  span.input-icon {
    font-size: 24px;
    color: #A0A0A0;
    position: relative;
    left: 30px;
  }

  input[type="text"], input[type="email"] {
    margin-top: 20px;
    font-size: 32px;
    border: 0px;
    border-bottom: solid #4fcccd 2px;
    background-color: #fafafa;
    outline: 0px;
    padding: 5px;
    text-align: center;
    line-height: 1.5em;
    width: 500px;

    &.icon { padding: 5px 40px; }
  }

  #page-container {
    min-height: 300px;
    margin-bottom: 50px;
  }

  .full-hero { background: none; }

  .stats {
    h1 {
      color: #FFBA16;
      font-weight: bold;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      color: #999999;
    }
  }

  a.btn-register {
    margin-top: 20px;
  }

  .toy-list-container {
    position: relative;
    width: 705px;
    margin: 0px auto;

    span.title {
      position: absolute;
      top: 34px;
      color: #3B88B6;
      font-size: 22px;
      font-family: Helvetica Neue, Helvetica;
      font-weight: 500;
      left: 20px;
    }

    span.description {
      position: absolute;
      top: 230px;
      color: #459CE7;
      font-size: 14px;
      font-family: Helvetica Neue, Helvetica;
      font-weight: 500;
      left: 315px;
    }
  }
}

